<?xml version="1.0"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
      version="3.0">

    <filter>
    	<display-name>Zephyr Framework Controller</display-name>
        <filter-name>Zephyr Controller</filter-name>
        <filter-class>org.dihedron.zephyr.ActionController</filter-class>
        <init-param>
            <param-name>zephyr:actions-packages</param-name>
            <param-value>org.example.demo.part1.actions,org.example.demo.part2.actions,org.example.demo.part1.actions</param-value>
        </init-param>

        <init-param>
            <param-name>zephyr:interceptors-packages</param-name>
            <param-value>org.example.demo.part1.interceptors,org.example.demo.part2.interceptors</param-value>
        </init-param>
    </filter>

    <filter-mapping>
        <filter-name>Zephyr Controller</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

</web-app>

